<% if(success && success.length){ %>

   <div id="alert" class="alert alert-success" role="alert">

      <%= success %> 

   </div>

<% } %>

<% if(error && error.length){ %>

<div id="alert" class="alert alert-danger" role="alert">

    <%= error %> 

</div>

<% } %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script >
      $("#alert").first().hide().slideDown(500).delay(2000).slideUp(500, function () {
         $(this).remove(); 
      });
</script>